#header
{
    text-align: center;
    color:black;
    font-size: 3rem;
    padding-top: 5%;
    font-weight: bold;
}
.myContainer
{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 10% 15%;
}
.bodyContain{
    background-color: aqua;
    height: 100vh;
}
